table {
  text-align: center;
}

table,
th,
td {
  border: 1px solid black;
}

tr {
  background-color: yellow;
}

tr:nth-child(2) {
  background-color: rgb(255, 195, 80);
}

tr:nth-child(3) {
  background-color: khaki;
}

th {
  background-color: darkolivegreen;
}

td {
  padding-left: 20px;
  padding-right: 20px;
}
